**BUILT IN DATA TYPES**

In [40]:
# String

x = "Parthav"

print(x)
print(type(x))

y = input("Enter your name")

print(y)

Parthav
<class 'str'>
Parthav

In [41]:
# Numeric Data Types

x = 20

y = 20.30

print(x)
print(y)

print(type(x))
print(type(y))

20
20.3
<class 'int'>
<class 'float'>

In [42]:
# List, Tuple, Range

x = ["apple", "banana", "cherry"]

y = ("apple", "banana", "cherry")

z = range(6)

for x in z:
  print(x)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

0
1
2
3
4
5
5
('apple', 'banana', 'cherry')
range(0, 6)
<class 'int'>
<class 'tuple'>
<class 'range'>

In [43]:
# Dict (Dict is a mapping type of Data Type)

x = {"name" : "Parthav", "age" : 21}

print(x)
print(type(x))

{'name': 'Parthav', 'age': 21}
<class 'dict'>

In [44]:
# Set

x = {"apple", "banana", "cherry"}

print(x)
print(type(x))

{'cherry', 'apple', 'banana'}
<class 'set'>

In [45]:
# Frozen Set

x = frozenset({"apple", "banana", "cherry"})

print(x)
print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

In [46]:
# bool

x = True
y = False

print(x)
print(type(x))

print(y)
print(type(y))

True
<class 'bool'>
False
<class 'bool'>

In [47]:
# NoneType

x = None

print(x)
print(type(x))

None
<class 'NoneType'>

**RANDOM MODULE**

In [48]:
import random

print(random.randrange(1, 10))

5

**CASTING**

In [49]:
x = int(1)
y = int(2.8)
z = int("3")

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1
2
3
<class 'int'>
<class 'int'>
<class 'int'>

In [50]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")

print(x)
print(y)
print(z)
print(w)

print(type(x))
print(type(y))
print(type(z))
print(type(w))

1.0
2.8
3.0
4.2
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [51]:
x = str("s1")
y = str(2)
z = str(3.0)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

s1
2
3.0
<class 'str'>
<class 'str'>
<class 'str'>

**STRINGS ARE ARRAYS**

In [52]:
a = "Parthav"

print(a[6])

v

In [1]:
# Looping through Strings

a = "Parthav"
b = "Himanshu"

for y in b:
  print(y)

# for x in a:
#   print(x)

H
i
m
a
n
s
h
u

In [6]:
# Another example of looping through a string
b = "veron institute"
a = " Himansu "

print(a.strip())
# for y in b:
#     print(y.upper())

Himansu

In [7]:
# Length of the String

a = "Veron"
print(len(a))

5

In [10]:
# Check if something is present in the Line

a = "Amritsar is the best city of the punj!"
print("punj" not in a)

False

In [57]:
a = "Hello, Guys!"
print("," in a)
print("." in a)
print("!" in a)

True
False
True

In [58]:
txt = "My phone number is 8369123312"
print("1" not in txt)
print("9" in txt)
print("0" in txt)

False
True
False

In [15]:
x = 4
txt = "The best things in life are free!"
if x > 5:
  print("No, 'expensive' is NOT present.")
elif "best" not in txt:
  print("Yes")
elif "things" in txt:
  print("yes")

yes

**SLICING STRINGS**

In [21]:
a = "Himanshu"

b = a[5::]

print(b)

shu

In [61]:
b = "Hello, Parthav!"
print(b[1:])

ello, Parthav!

In [62]:
b = "Hello, Parthav!"
print(b[2:])

llo, Parthav!

In [63]:
b = "Hello, Parthav!"
print(b[-5:-2])

tha

In [64]:
b = "Hello, World!"
print(b[3:8])

lo, W

In [65]:
b = "Hello, World!"
print(b[::3])

Hl r!

In [66]:
b = "Hello, World!"
print(b[::-1])

!dlroW ,olleH

In [67]:
# String Functions
a = "parthav"

print(a.upper())

PARTHAV

In [68]:
a = "PARTHAV"

print(a.lower())

parthav

In [22]:
a = " i am parthav "
a = " parthavsabrwal@gmail.com "
print(a.strip())

parthavsabrwal@gmail.com

In [70]:
a = " i am parthav "

print(a.lstrip())

i am parthav

In [23]:
a = " i am parthav "

print(a.rstrip())

 i am parthav

In [24]:
a = "Hi, Parthav!"
print(a.replace("Hi", "Hello"))

Hello, Parthav!

In [73]:
a = "Jello, Jarthav"

print(a.replace("J", "H"))

Hello, Harthav

In [25]:
a = "Parthav Ji"

a.split("a")

['P', 'rth', 'v Ji']

In [75]:
# capitalize()	Converts the first character to upper case
# casefold()	Converts string into lower case
# center()	Returns a centered string
# count()	Returns the number of times a specified value occurs in a string
# encode()	Returns an encoded version of the string
# endswith()	Returns true if the string ends with the specified value
# expandtabs()	Sets the tab size of the string
# find()	Searches the string for a specified value and returns the position of where it was found
# format()	Formats specified values in a string
# format_map()	Formats specified values in a string
# index()	Searches the string for a specified value and returns the position of where it was found
# isalnum()	Returns True if all characters in the string are alphanumeric
# isalpha()	Returns True if all characters in the string are in the alphabet
# isascii()	Returns True if all characters in the string are ascii characters
# isdecimal()	Returns True if all characters in the string are decimals
# isdigit()	Returns True if all characters in the string are digits
# isidentifier()	Returns True if the string is an identifier
# islower()	Returns True if all characters in the string are lower case
# isnumeric()	Returns True if all characters in the string are numeric
# isprintable()	Returns True if all characters in the string are printable
# isspace()	Returns True if all characters in the string are whitespaces
# istitle()	Returns True if the string follows the rules of a title
# isupper()	Returns True if all characters in the string are upper case
# join()	Converts the elements of an iterable into a string
# ljust()	Returns a left justified version of the string
# lower()	Converts a string into lower case
# lstrip()	Returns a left trim version of the string
# maketrans()	Returns a translation table to be used in translations
# partition()	Returns a tuple where the string is parted into three parts
# replace()	Returns a string where a specified value is replaced with a specified value
# rfind()	Searches the string for a specified value and returns the last position of where it was found
# rindex()	Searches the string for a specified value and returns the last position of where it was found
# rjust()	Returns a right justified version of the string
# rpartition()	Returns a tuple where the string is parted into three parts
# rsplit()	Splits the string at the specified separator, and returns a list
# rstrip()	Returns a right trim version of the string
# split()	Splits the string at the specified separator, and returns a list
# splitlines()	Splits the string at line breaks and returns a list
# startswith()	Returns true if the string starts with the specified value
# strip()	Returns a trimmed version of the string
# swapcase()	Swaps cases, lower case becomes upper case and vice versa
# title()	Converts the first character of each word to upper case
# translate()	Returns a translated string
# upper()	Converts a string into upper case
# zfill()	Fills the string with a specified number of 0 values at the beginning

**CONCATENATE STRINGS**

In [76]:
a = "Hello"
b = "ji"

c = a + b
print(c)

Helloji

In [77]:
a = "Hello"
b = "Ji"

c = a + " " + b
print(c)

Hello Ji

**FORMAT STRINGS**

In [33]:
# age = 36
# txt = "My name is Parthav, I am " + age
# print(txt)

# name1 = "Himanshu"
# name2 = "Bhawar"

# print(f"Hello How are you guys: {name1} {name2}")
import random as rd

x = rd.randint(1, 10)
print(x)
z = 10
try:
    print(z)
except Exception as e:
    print(f'Error: {e}')

9
10

In [ ]:
age = 32
txt = f"In 10 years, I will be {age:.2f}"
print(txt)

In 10 years, I will be 32.00

In [ ]:
txt = f"The price of entry to stadium is Rs.{20 + 59} "
print(txt)

The price of entry to stadium is Rs.79

In [ ]:
price = 50
txt = f"It is very {'Expensive' if price>50 else 'Cheap'}"

print(txt)

It is very Cheap