**LIST DEFINITION, IT'S USES AND FUNCTIONS**

In [ ]:
# Lists are used to store multiple items in a single variable.

# Lists are one of 4 built-in data types in Python used to store collections of data,
# the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

# Lists are created using square brackets:

In [ ]:
a = ["Abhay", "Kanika", "Kangana", "Sudhir", "Kartik", "Mamta"]
a = [1, 1.9, "Mamta", "Parthav"]
print(f"This is a new change: ", a)
print(type(a))

[1, 1.9, 'Mamta', 'Parthav']
<class 'list'>

In [ ]:
"""
Lists are Ordered, It means that the items have a defined order, and that order will not change.
If you add new items to a list, the new items will be placed at the end of the list.

Lists allow duplicate values, also Lists are immutable
"""
a = ["P", "A", "R", "T", "H", "A", "V"]

print(a[2])

R

In [ ]:
a = ["V", "E", "R", "O", "N"]
b = [1, 5, 7, 9, 3]
c = [True, False, False]

print(a)
print(b)
print(c)

['V', 'E', 'R', 'O', 'N']
[1, 5, 7, 9, 3]
[True, False, False]

In [ ]:
a = ["V", "E", "R", "O", "N"]

print(type(a))

<class 'list'>

In [ ]:
a = ["V", "E", "R", "O", "N"]

print(a[1])

E

In [ ]:
a = ["V", "E", "R", "O", "N"]

print(a[-3])

R

In [ ]:
a = ["V", "E", "R", "O", "N"]

print(a[1:4])

['E', 'R', 'O']

In [ ]:
a = ["V", "E", "R", "O", "N", " ", "T", "E", "A", "M"]

print(a[:])

['M', 'A', 'E', 'T', ' ', 'N', 'O', 'R', 'E', 'V']

In [ ]:
a = ["V", "E", "R", "O", "N", " ", "T", "E", "A", "M"]

print(a[-4:-1])

['T', 'E', 'A']

In [ ]:
a = ["V", "E", "R", "O", "N", " ", "T", "E", "A", "M"]

if "z" in a:
  print("V is Present in the List")
else:
  print("V is not Present in the List")

V is not Present in the List

In [ ]:
a = ["V", "E", "R", "O", "N", " ", "T", "E", "A", "M"]

a[5] = "And"

print(a)

['V', 'E', 'R', 'O', 'N', 'And', 'T', 'E', 'A', 'M']

In [ ]:
A = ["P", "A", "R", "T", "H", "A", "V"]

A[1:4] = ["a", "r", "t"]

print(A)

['P', 'a', 'r', 't', 'H', 'A', 'V']

In [ ]:
a = ["a", "b", "c"]
a.insert(3, "d")
print(a)

['a', 'b', 'c', 'd']

In [ ]:
a = ["a", "b", "c"]
a.append("d")
print(a)

['a', 'b', 'c', 'd']

In [ ]:
a = ["apple", "banana", "cherry"]
b = ["mango", "pineapple", "papaya"]
c = a + b
a.extend(b)
print(a)
print(f"Combined List is: {c}")

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
Combined List is: ['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
a = ["a", "b", "c", "d"]

a.remove("b")

print(a)

['a', 'c', 'd']

In [ ]:
a = ["a", "b", "c", "d"]

a.pop()

print(a)

['a', 'b', 'c']

In [ ]:
a = ["P", "A", "R", "T", "H", "A", "V"]

a.clear()

print(a)
print(type(a))

[]
<class 'list'>

In [ ]:
a = ["P", "A", "R", "T", "H", "A", "V"]
print(len(a))
for x in range(len(a)):
  print(x)

for x in a:
  print(x)

for x in range(6):
  print(x)

7
0
1
2
3
4
5
6
P
A
R
T
H
A
V
0
1
2
3
4
5

In [ ]:
a = ["V", "E", "R", "O", "N", " ", "T", "E", "A", "M"]
for i in range(len(a)):
  print(i)
  print(a[i])

0
V
1
E
2
R
3
O
4
N
5

6
T
7
E
8
A
9
M

**LIST COMPREHENSIONS**

In [ ]:
a = ["Veron", "Engineering", "Railway", "On", "Now", " ", "Tata", "Ear", "Arm", "Man"]
newlist = []

for x in a:
  if "a" in x:
    newlist.append(x)

print(newlist)

['Railway', 'Tata', 'Ear', 'Man']

In [ ]:
a = ["Veron", "Engineering", "Railway", "On", "Now", " ", "Tata", "Ear", "Arm", "Man"]

newlist = [x for x in a if "a" in x]

print(newlist)

['Railway', 'Tata', 'Ear', 'Man']

In [ ]:
a = ["Veron", "Engineering", "Railway", "On", "Now", " ", "Tata", "Ear", "Arm", "Man"]

newlist = [x for x in a if x != "Now"]

print(newlist)

['Veron', 'Engineering', 'Railway', 'On', ' ', 'Tata', 'Ear', 'Arm', 'Man']

In [ ]:
a = ["9", "5", "6", "8", "1"]
a.sort()
print(a)

# bubble sort

# merge sort

['1', '5', '6', '8', '9']

In [ ]:
a = ["9", "5", "6", "8", "1"]
a.sort(reverse=True)
print(a)

['9', '8', '6', '5', '1']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
a = [1, 2, 3, 4, 5]
b = []

for x in a:
    b.insert(0, x)

print(b)

[5, 4, 3, 2, 1]

In [ ]:
a = ["V", "E", "R", "O", "N", " ", "T", "E", "A", "M"]

b = a.copy()

print(f"This is the list - a: {a}")
print(f"This is the list - b: {b}")

This is the list - a: ['V', 'E', 'R', 'O', 'N', ' ', 'T', 'E', 'A', 'M']
This is the list - b: ['V', 'E', 'R', 'O', 'N', ' ', 'T', 'E', 'A', 'M']

In [ ]:
# append()	Adds an element at the end of the list
# clear()	Removes all the elements from the list
# copy()	Returns a copy of the list
# count()	Returns the number of elements with the specified value
# extend()	Add the elements of a list (or any iterable), to the end of the current list
# index()	Returns the index of the first element with the specified value
# insert()	Adds an element at the specified position
# pop()	Removes the element at the specified position
# remove()	Removes the item with the specified value
# reverse()	Reverses the order of the list
# sort()	Sorts the list

In [ ]:
import random

number_to_guess = random.randint(1, 10)

print(number_to_guess)

tries = 0

guesses = []

print("Welcome!")
print("Think of a number between 1 to 10")

while True:
    user_guess = input("Take a guess: ")

    if user_guess.lower() == "quit":
        print(f"Okay, the number was {number_to_guess}.")
        break

    try:
        user_guess = int(user_guess)
    except Exception as e:
        print(f"That's not a valid number. {e}")
        continue

    guesses.append(user_guess)

    tries += 1

    if user_guess == number_to_guess:
        print(f"Congratulations! You found the number in {tries} tries.")
        print("Your guesses were: {}".format(guesses))
        break
    elif user_guess < number_to_guess:
        print("Too low! Try again.")
    else:
        print("Too high! Try again.")

8
Welcome!
Think of a number between 1 to 10
Take a guess: 4
Too low! Try again.
Take a guess: 5
Too low! Try again.
Take a guess: 9
Too high! Try again.
Take a guess: 10
Too high! Try again.
Take a guess: 8
Congratulations! You found the number in 5 tries.
Your guesses were: [4, 5, 9, 10, 8]