**TUPLES IN PYTHON**

Tuples are used to store multiple items in a single variable.

- Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

- A tuple is a collection which is ordered and unchangeable.

- Tuples are written with round brackets.

In [98]:
a = ("P", "A", "R", "T", "H", "A", "V")

print(f"THIS IS THE TUPLE CREATED BY US: {a}")
print("THIS IS THE TYPE OF THE TUPLE CREATED BY US: ", type(a))

THIS IS THE TUPLE CREATED BY US: ('P', 'A', 'R', 'T', 'H', 'A', 'V')
THIS IS THE TYPE OF THE TUPLE CREATED BY US:  <class 'tuple'>

**Tuple Items**

- Tuple items are ordered, unchangeable, and allow duplicate values.

- Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**

- When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

**Unchangeable**

- Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

**Allow Duplicates**

- Since tuples are indexed, they can have items with the same value:

In [ ]:
a = ("P", "P", "A", "R", "T", "H", "A", "V")

print("THIS IS THE TUPLE CREATED BY US: ", a)
print("THIS IS THE TYPE OF THE TUPLE CREATED BY US: ", type(a))

**Tuple Length**

- To determine how many items a tuple has, use the len() function

In [99]:
a = ("P", "A", "R", "T", "H", "A", "V")

print("THIS IS LENGTH OF THE TUPLE CREATED BY US: ", len(a))

THIS IS LENGTH OF THE TUPLE CREATED BY US:  7

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

In [100]:
tuple1 = ("abc", 34.40, True, 40, "male")

print(tuple1)

('abc', 34.4, True, 40, 'male')

In [102]:
a = ("P", "A", "R", "T", "H", "A", "V")

print("ELEMENT ON THE FIRST INDEX: ", a[1])
print(f"element on index 0 is: {a[0]}")

ELEMENT ON THE FIRST INDEX:  A
element on index 0 is: P

In [ ]:
a = ("P", "A", "R", "T", "H", "A", "V")

print("ELEMENT ON THE LAST INDEX (ACCESSED USING NEGATIVE INDEXING): ", a[-1])

In [ ]:
a = ("P", "A", "R", "T", "H", "A", "V")

print("INDEX RANGE: ", a[2:5])

In [ ]:
a = ("P", "A", "R", "T", "H", "A", "V")

print("ELEMENT ON THE 0 INDEX: ", a[0])

In [111]:
a = ("P", "A", "R", "T", "H", "A", "V")

print(a[-4:-2])

('T', 'H')

In [ ]:
a = ("P", "A", "R", "T", "H", "A", "V")

print(a[::-1])

In [113]:
a = ("", "A", "R", "T", "H", "A", "V")

if "P" in a:
    print("Letter P is present in the tuple a")
else:
    print("Letter P is not present in the tuple a")

Letter P is not present in the tuple a

In [116]:
a = ("P", "A", "R", "T", "H", "A", "V")

# b = list(a)

# b[1] = 10

# a = tuple(b)
try:
    a[1] = 10
except Exception as e:
    print(f"Error: {e}")

print(a)

Error: 'tuple' object does not support item assignment
('P', 'A', 'R', 'T', 'H', 'A', 'V')

In [117]:
a = ("P", "A", "R", "T", "H", "A", "V")

b = (" ", "S", "A", "B", "R", "W", "A", "L")

a = a + b

print(a)

('P', 'A', 'R', 'T', 'H', 'A', 'V', ' ', 'S', 'A', 'B', 'R', 'W', 'A', 'L')

In [119]:
a = ("P", "A", "R", "T", "H", "A", "V")

b = list(a)

b.append("S")

b.insert(4, "P")

a = tuple(b)

print(a)

('P', 'A', 'R', 'T', 'P', 'H', 'A', 'V', 'S')

In [121]:
a = ("P", "A", "R", "T", "H", "A", "V")

del a

try:
    print(a)
except Exception as e:
    pass

In [123]:
a = ("P", "A", "R", "T", "H", "A", "V")
b = ("Veron", "parthav", "team")

for x in a:
    print(x)

for y in b:
    print(y)

# users_list = users.objets.all()

# return render("templates/users_list.html", users_list)

P
A
R
T
H
A
V
Veron
parthav
team

In [125]:
a = ("P", "A", "R", "T", "H", "A", "V")

b = len(a)

for x in range(b):
    print(a[x])

P
A
R
T
H
A
V

**TUPLE METHODS**

- count()	Returns the number of times a specified value occurs in a tuple
- index()	Searches the tuple for a specified value and returns the position of where it was found

In [126]:
a = ("P", "A", "R", "T", "H", "A", "V")

print(a.count("A"))

2

In [130]:
a = ("P", "A", "R", "T", "H", "A", "V")

b = a.index("A", 2)

print(b)

5

**Set**
- Sets are used to store multiple items in a single variable.

- Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

- A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute"}

print("THIS IS THE SET A: ", a)

print("THIS IS THE TYPE OF THE SET A: ", type(a))

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

print(a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav", True, 1}

print(a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav", False, 0}

print(a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

print(len(a))

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

b = {True, False}

c = {1, 2, 3, 4, 5, 6}

print(a, b, c)

In [ ]:
a = {"Parthav", "Simran", True, 1, 1.4, False, 10, 20, 30.4}

print(a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

for x in a:
    print(x)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

print("Parthav" in a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

print("Parthav" not in a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

a.add("Team")

print(a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

c = {1, 2, 3, 4, 5, 6}

a.update(c)

print(a)

In [ ]:
a = {1, 2, 3, 4, 5, 6}

b = ("Parthav", "Simran", "Veron", "Institute", "Parthav")

a.update(b)

print(a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

a.remove("Parthav")

print(a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

a.discard("Parthav")

print(a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

a.pop()

print(a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

a.clear()

print(a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

del a

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Parthav"}

b = {1, 2, 3, 4, 5, 6}

c = a.union(b)

print(c)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Kangana"}

b = {"Abhay", "Kanika", "Randeep", "Kartik", "Samreet", "Parthav"}

c = a.intersection(b)

print(c)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Kangana"}

b = {"Abhay", "Kanika", "Randeep", "Kartik", "Samreet", "Parthav"}

a.intersection_update(b)

print(a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Kangana"}

b = {"Abhay", "Kanika", "Randeep", "Kartik", "Samreet", "Parthav"}

c = a.difference(b)

print(c)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Kangana"}

b = {"Abhay", "Kanika", "Randeep", "Kartik", "Samreet", "Parthav"}

a.difference_update(b)

print(a)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Kangana"}

b = {"Abhay", "Kanika", "Randeep", "Kartik", "Samreet", "Parthav"}

c = a.symmetric_difference(b)

print(c)

In [ ]:
a = {"Parthav", "Simran", "Veron", "Institute", "Kangana"}

b = {"Abhay", "Kanika", "Randeep", "Kartik", "Samreet", "Parthav"}

a.symmetric_difference_update(b)

print(a)

In [94]:

# Method	Shortcut	Description
# add()	 	Adds an element to the set
# clear()	 	Removes all the elements from the set
# copy()	 	Returns a copy of the set
# difference()	-	Returns a set containing the difference between two or more sets
# difference_update()	-=	Removes the items in this set that are also included in another, specified set
# discard()	 	Remove the specified item
# intersection()	&	Returns a set, that is the intersection of two other sets
# intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
# isdisjoint()	 	Returns whether two sets have a intersection or not
# issubset()	<=	Returns whether another set contains this set or not
#  	<	Returns whether all items in this set is present in other, specified set(s)
# issuperset()	>=	Returns whether this set contains another set or not
#  	>	Returns whether all items in other, specified set(s) is present in this set
# pop()	 	Removes an element from the set
# remove()	 	Removes the specified element
# symmetric_difference()	^	Returns a set with the symmetric differences of two sets
# symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
# union()	|	Return a set containing the union of sets
# update()	|=	Update the set with the union of this set and others